  <marmeto-carousel data-options='{"type":"loop","perPage":3,"autoplay":true}'>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">Slide dfghjkl;1</li>
        <li class="splide__slide">Slidedsfhsgdfhgsf sfdghsfs sdhg 2</li>
        <li class="splide__slide">Slidesdhgsvfhsgvfs cghsdfhsg hgs dfhsg sd 3</li>
        <!-- Add more slides as needed -->
      </ul>
    </div>
  </marmeto-carousel>
